body{
    margin: 0;
}
header{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: gray;
    padding: 10px;
    box-sizing: border-box;
}
.aboutUsers {
    margin:  0 auto;
    border-collapse: collapse;
}

.aboutUsers th,.aboutUsers td {
    border: 1px solid black;
    padding: 8px;
}

.aboutUsers th {
    background-color: #ddd;
    text-align: center;
    vertical-align: middle;
}

.aboutUsers tr:nth-child(even) {
    background-color: #f2f2f2;
}
