.greetings{
    margin-left: 75vh;
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.post {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.post h3 {
    color: #333;
    font-weight: 600;
    margin-top: 0;
}

.post p {
    color: #666;
}

.post img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}

.no-posts {
    color: #777;
}