.container {
    width: 100%;
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 1.25rem;
    padding-left: 1.56rem;
    background: #F8F8F8;

}

.table {
    margin-top: 1.44rem;
    width: 100%;
    height: 30rem;
}

.tableRowTitle {
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tableRow {
    height: 4.35rem;
}

.tableItem {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
    line-height: 1.2rem; /* 1.2rem */
    margin-top: 1rem;
}



.bottomContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
}

.pageNavContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pageNumber {
    min-width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.selectedProjectCount {
    margin-right: 2rem;
    color: #000;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}