.button {
    border-radius: 0.625rem;
    border: 1px solid #1E3244;
    background: #1E3244;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}